{:paths ["src" "resources"]

 :jolt/min-version "0.8.0"

 :deps {io.github.casselc/jolt-http
        {:git/url "https://github.com/casselc/jolt-http.git"
         :git/sha "d9fa89309fb9faa3dd3e8319a79d57fc03925341"}
        io.github.casselc/http-client
        {:git/url "https://github.com/casselc/http-client.git"
         :git/sha "7cf4b2d56f8d10fef83594a543146f886e8180ad"}
        io.github.casselc/otel
        {:git/url "https://github.com/casselc/otel.git"
         :git/sha "ebcb0d1b36532155452d7a75842e232f7feeb548"}
        io.github.chucklehead-dev/jolt-chdb
        {:git/url "https://github.com/chucklehead-dev/jolt-chdb.git"
         :git/sha "824115821a53e4d7da544b31dbe920fef292493f"}
        io.github.chucklehead-dev/jolt-otel-clickhouse
        {:git/url "https://github.com/chucklehead-dev/jolt-otel-clickhouse.git"
         :git/sha "9a13e3bbe63205a608875bbcd204175c6f1f242a"}
        io.github.chucklehead-dev/jolt-otel-instrumentation-db
        {:git/url "https://github.com/chucklehead-dev/jolt-otel-instrumentation-db.git"
         :git/sha "c9fdbbfefdaba3cc88563c91d3eeae2c8bf26699"}
        io.github.chucklehead-dev/jolt-otel-instrumentation-http-client
        {:git/url "https://github.com/chucklehead-dev/jolt-otel-instrumentation-http-client.git"
         :git/sha "8badefe2d035b0533dc068c58460fc39e0851764"}
        io.github.chucklehead-dev/jolt-otel-instrumentation-http-server
        {:git/url "https://github.com/chucklehead-dev/jolt-otel-instrumentation-http-server.git"
         :git/sha "b83514cf6babf70257538e2c75f0e3ab8ecd9f8a"}
        io.github.chucklehead-dev/jolt-otel-viewer
        {:git/url "https://github.com/chucklehead-dev/jolt-otel-viewer.git"
         :git/sha "923ec6b5912bb1246c87d325febce70c388bab6b"}
        io.github.chucklehead-dev/oscope
        {:git/url "https://github.com/chucklehead-dev/oscope.git"
         :git/sha "df561a8339bfdfee219b503c486ad60f90c07c0d"}
        jolt-lang/glimmer-datastar
        {:git/url "https://github.com/jolt-lang/glimmer-datastar.git"
         :git/sha "78930867485e4b6ea21da1e1a13c3e8fd828c035"}
        io.github.casselc/glimmer
        {:git/url "https://github.com/casselc/glimmer.git"
         :git/sha "6dab5597dc0d912793fe175d0d3cbb9e75f11426"}
        io.github.casselc/data.json
        {:git/url "https://github.com/casselc/data.json.git"
         :git/sha "8a6dc9668e5c3596a335759defeb7ec80cd3b5f8"}
        io.github.chucklehead-dev/time
        {:git/url "https://github.com/chucklehead-dev/time.git"
         :git/sha "2494b21b25cd959573c3e6050cd475e4bf302fdb"}}

 :jolt/build {:embed ["resources"]
              :aspects [{:resource "META-INF/jolt/aspects/demo-workbench.edn"
                         :provider demo.aspect-provider}
                        {:resource "META-INF/jolt/aspects/db-jdbc-shim.edn"
                         :provider otel.instrumentation.db}
                        {:resource "META-INF/jolt/aspects/http-client-core.edn"
                         :provider otel.instrumentation.http-client}
                        {:resource "META-INF/jolt/aspects/http-server.edn"
                         :provider otel.instrumentation.http-server}]
              :aspect-report "target/aspects.edn"}

 :aliases {:setup-native {:main-opts ["-m" "jdbc.chdb.install"]}
           :test {:extra-paths ["test"]
                  :extra-deps
                  {io.github.casselc/samizdat
                   {:git/url "https://github.com/casselc/samizdat.git"
                    :git/sha "7a72c9b52e35f4dd31daefcef2a9b3235a80e475"}
                   io.github.chucklehead-dev/jolt-hegel
                   {:git/url "https://github.com/chucklehead-dev/jolt-hegel.git"
                    :git/sha "b214f769983211431c74e427f0f35553cfba7b34"}}
                  :main-opts ["-m" "demo.test-runner"]}
           :plotje-oracle-test
           {:extra-paths ["test"]
            :replace-deps
            {io.github.scicloj/plotje
             {:git/url "https://github.com/scicloj/plotje.git"
              :git/sha "b2a9199681c4143ec1068ed02feec4e2997d50ca"}}
            :main-opts ["-m" "demo.plotje-oracle-test-runner"]}
           :threadstatus-probe
           {:extra-paths ["test"]
            :main-opts ["-m" "demo.threadstatus-probe"]}}

 :tasks {test "jolt -M:test"}}
