{:paths ["src" "resources"]

 :deps {io.github.casselc/jolt-http
        {:git/url "https://github.com/casselc/jolt-http.git"
         :git/sha "0629087f4d7e42343164e43906fae6d707787ed0"}
        io.github.casselc/http-client
        {:git/url "https://github.com/casselc/http-client.git"
         :git/sha "eba91d0536fee73ee192f68676915e48be23b348"}
        io.github.casselc/otel
        {:git/url "https://github.com/casselc/otel.git"
         :git/sha "9d5ba0a95f79e839b8292b2e5e70c6ee3716e7be"}
        io.github.chucklehead-dev/jolt-chdb
        {:git/url "https://github.com/chucklehead-dev/jolt-chdb.git"
         :git/sha "df94be533b56c70a9a11951f45be84216d9d0b50"}
        io.github.chucklehead-dev/jolt-otel-clickhouse
        {:git/url "https://github.com/chucklehead-dev/jolt-otel-clickhouse.git"
         :git/sha "c1d4aad8188811258dda7d777808649255b13cbc"}
        io.github.chucklehead-dev/jolt-otel-viewer
        {:git/url "https://github.com/chucklehead-dev/jolt-otel-viewer.git"
         :git/sha "923ec6b5912bb1246c87d325febce70c388bab6b"}
        io.github.chucklehead-dev/oscope
        {:git/url "https://github.com/chucklehead-dev/oscope.git"
         :git/sha "c8f09f76b123902b62f515c538b9a9f353342089"}
        jolt-lang/glimmer-datastar
        {:git/url "https://github.com/jolt-lang/glimmer-datastar.git"
         :git/sha "78930867485e4b6ea21da1e1a13c3e8fd828c035"}
        io.github.casselc/glimmer
        {:git/url "https://github.com/casselc/glimmer.git"
         :git/sha "6dab5597dc0d912793fe175d0d3cbb9e75f11426"}
        io.github.casselc/data.json
        {:git/url "https://github.com/casselc/data.json.git"
         :git/sha "8a6dc9668e5c3596a335759defeb7ec80cd3b5f8"}}

 :jolt/build {:embed ["resources"]
              :aspects [{:resource "META-INF/jolt/aspects/demo-workbench.edn"
                         :provider demo.aspect-provider}]
              :aspect-report "target/aspects.edn"}

 :aliases {:setup-native {:main-opts ["-m" "jdbc.chdb.install"]}
           :test {:extra-paths ["test"]
                  :extra-deps
                  {io.github.chucklehead-dev/jolt-hegel
                   {:git/url "https://github.com/chucklehead-dev/jolt-hegel.git"
                    :git/sha "53631c81cd927175935037699ddf687d98a44d24"}}
                  :main-opts ["-m" "demo.test-runner"]}
           :threadstatus-probe
           {:extra-paths ["test"]
            :main-opts ["-m" "demo.threadstatus-probe"]}}

 :tasks {test "jolt -M:test"}}
